@mixin popup() {
  .feature-popup {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 420px;
    height: 430px;
    border-radius: 12px;
    max-width: 90vw; // Limit to 90% of viewport width
    max-height: 90vh; // Limit to 90% of viewport height
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    animation: popupFade 0.3s forwards;
    z-index: 1000;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .popup-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #303444;
      border-radius: 10px;
      overflow: hidden;

      .popup-bg {
        width: 100%;
        height: 50%;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100px; // độ cao vùng mờ
          background: linear-gradient(
            to bottom,
            rgba(48, 52, 68, 0) 0%,
            rgba(48, 52, 68, 0.9) 100%
          );
        }
      }
      .popup-name {
        position: relative;
        top: 0px;
        padding: 10px;
        h3,
        h5 {
          margin: 5px;
          padding: 0;
        }
        h3 {
          font-size: 16px;
          color: white;
        }
        h5 {
          font-size: 14px;
          color: #e5322d;
          font-weight: 100;
        }
      }
      .popup-control {
        padding: 10px;
        display: flex;
        align-items: center;
        position: relative;
        top: -10px;
        cursor: pointer;
        .watch {
          width: 150px;
          height: 40px;
          background-color: #e5322d;
          border: none;
          font-size: 14px;
          color: #303444;
          font-weight: 600;
          border-radius: 5px;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            background-color: white;
          }
        }
        .like {
          width: 100px;
          height: 40px;
          background-color: #303444;
          border: 1px solid white;
          border-radius: 5px;
          color: white;
          cursor: pointer;
        }
      }
      .popup-detail {
        padding: 10px;
        width: 100%;
        color: white;
        position: relative;
        top: -15px;
        p {
          margin: 0;
          padding: 0;
          font-size: 12px;
        }
        span {
          font-size: 11px;
          margin-right: 4px;
        }
      }
    }
  }

  @keyframes popupFade {
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
.list-page {
  width: 100%;
  height: auto;
  background-color: #191b24;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  h2 {
    font-size: 25px;
    float: left;
    color: white;
    position: relative;
    margin: 20px;
    left: -36%;
  }
  .list-film-filter {
    position: relative;
    margin-bottom: 50px;
    width: 150px;
    height: 45px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    left: -43.5%;
  }
  .list-film-grid {
    position: relative;
    width: 98%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    @include popup();
    .list-film-card {
      width: 150px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      position: relative;
      color: white;
      .list-film-bg {
        width: 150px;
        height: 200px;
        border-radius: 8px;
      }
      .list-film-name {
        max-width: 140px;
        height: 25px;
        padding-left: 10px;
        text-align: center;
        font-size: 12px;
        white-space: nowrap; /* không xuống dòng */
        overflow: hidden; /* ẩn phần bị tràn */
        text-overflow: ellipsis;
        font-weight: bold;
      }
      .list-film-origin {
        max-width: 140px;
        height: 25px;
        padding-left: 10px;
        text-align: center;

        font-size: 10px;
        white-space: nowrap; /* không xuống dòng */
        overflow: hidden; /* ẩn phần bị tràn */
        text-overflow: ellipsis;

        position: relative;
        top: -2px;
      }
    }
  }
}
