.list-page {
  width: 100%;
  height: auto;
  background-color: #191b24;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .list-film-grid {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    .list-film-card {
      width: 100px;
      height: 300px;
      background-color: antiquewhite;
    }
  }
}
