.list-page {
  width: 100%;
  height: auto;
  background-color: #191b24;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .list-film-grid {
    width: 98%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;

    .list-film-card {
      width: 150px;
      height: 250px;
      background-color: antiquewhite;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;

      .list-film-bg {
        width: 100%;
        height: 200px;
        border-radius: 8px;
      }
      .list-film-name {
        width: 95%;
        margin: 0;
        padding: 0px 5px;
        font-size: 12px;
        white-space: nowrap; /* không xuống dòng */
        overflow: hidden; /* ẩn phần bị tràn */
        text-overflow: ellipsis;
      }
      .list-film-origin {
        font-size: 10px;
        white-space: nowrap; /* không xuống dòng */
        overflow: hidden; /* ẩn phần bị tràn */
        text-overflow: ellipsis;
      }
    }
  }
}
